

.navbar-toggle {
	background-color: #fff;
	border:1px solid #444;
}

.wrapper{
	min-height:100%;margin-bottom:-45px
}
.wrapper:after{
	content:"";display:block;height:45px
	}
.about-wrapper{
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	min-height:inherit;
	padding-bottom:90px
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.masthead-brand {
margin-top: 10px;
  margin-bottom: 10px;
  height: 30%;
  width: 30%;
}
/*
* Adapted .navbar-fixed-top to kill position:absolute
*/

.abouttopbg{
  background-image: url("https://res.cloudinary.com/dimxyge4j/image/upload/f_auto,q_auto/bg-masthead_akfkpl.jpg");
  background-repeat: no-repeat;
  background-position: center center;

}
.aboutnav-fixed-top {
  z-index: 1030;
  top: 0; left:0;
  width: 100%;
  border-width: 0 0 1px;
  max-height: 340px;
  background-color: #fff;
  color: black;
  border-color: #080808;
  position: fixed;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .aboutnav-fixed-top {
    max-height: 200px;
  }
}
.masthead-nav > li {
  display: inline-block;
  margin-top: 25px;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  border-bottom-color: #a9a9a9;
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/* General CSS  */
body, html {
  color: black !important;
  scroll-behavior: smooth;
  background-color: #f8f9fa !important;
  text-align: center;
  font-family: benton-sans,Helvetica,Sans-serif;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

img {
  max-width:100%;
  max-height: auto;
}

.bg-black {
  background: #000 !important;
  color: white !important;
}

.bg-orange {
  background: #ff3d00;
  color: white !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.bg-orange:hover {
  background: #ec3700;
}

.btn {
  font-family: benton-sans,Helvetica,Sans-serif;
}

/* FONTS  */
h1, h2 {
  color: black !important;
  text-decoration: none !important;
}

/* Aboutus section  */
.content-section {
  padding-top: 10em;
}

/* Fade up Animation  */
.comeIn:nth-child(even) {
  margin-right: 0;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* category product section  */
.products-list .list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #ff3d00;
  border-color: #ff3d00;
}

.products-list a {
  text-decoration: none;
}

.list-group-horizontal > .list-group-item + .list-group-item {
  border-top-width: 1px;
  border-left-width: 1px;
}

.list-group {
  display: inline-table !important;
}

.list-group-item {
  display: inline-grid;
  padding: 0.75rem 0.75rem;
  border-color: #ff3d00;
  font-weight: bold;
  border-bottom-left-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  color:#343a40;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.products-list .list-group-item:hover {
  background: #ff3d00 !important;
  color: #ffffff !important;
  transition-duration: 0.3s;
}
